.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #0d1414;
  border-radius: 5px;
  background-color: #144a51;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-item {
  margin-bottom: 10px; 
}
.todo-text {
  font-weight: bold; 
}
form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  position: relative;
}

li {
  margin-bottom: 10px;
  position: relative;
  display: flex; 
  align-items: center; 
}

li input[type="datetime-local"] {
  margin-left: 10px;
}

li button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  visibility: hidden;
}

li :hover button {
  background-color: #bf2c38;
  visibility: visible; 
}

li input[type="datetime-local"] {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: greenyellow;
}

li.Normal {
  color: white;
}

li.DueWithIn1Hour {
  color: yellow;
}

li.DueWithIn2Hour {
  color: orange;
}

li.Overdue {
  color: red;
}
li.NoDueDate{
  color: greenyellow;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}